@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@700&display=swap');

.header {
  background-color: black;
  padding-left: 25vw;
  padding-top: 15px;
  padding-bottom: 15px;
}

.title {
  font-family: 'Big Shoulders Inline Display', cursive;
  font-weight: bold;
  color: white;
  font-size: 60px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    padding-left: 5vw;
  }

  .title {
    font-size: 50px;
  }
}
