.footer {
  background-color: black;
  color: white;
  display: flex;

  bottom: 0;
  position: sticky;
  font-size: 25px;
  padding-left: 25vw;
  padding-top: 25px;
  padding-bottom: 25px;
  gap: 10px;
}

.purple {
  background-color: #8d0085;
  height: px;
  width: 30px;
  border-radius: 5px;
}

.blue {
  background-color: #200dfe;
  height: px;
  width: 30px;
  border-radius: 5px;
}

.grey {
  background-color: #9b9999;
  height: px;
  width: 30px;
  border-radius: 5px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer {
    padding-left: 5vw;
    font-size: 17px;
  }
}
